.detail-links-block {
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}

.detail-text-block {
  align-items: center;
  justify-content: center;
}

.detail-order-id {
  font-size: larger;
}

.my-orders-btn {
  margin-left: 5px;
}

.home-btn {
  margin-right: 5px;
}

.file-block {
  flex-direction: row !important;
  justify-content: space-between;
}

.download-btn {
  align-self: center;
}

.product-label {
  font-size: large;
}
