/* General */
a, a:hover, a:active, a:visited, a:focus {
	text-decoration:none;
}
body {
  background-color: #f6f6f6;
}
header {
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 0px 1px 0px rgb(61 66 81 / 20%), 0px 1px 4px -1px rgb(61 66 81 / 30%);
  min-height: 60px;
  background-color: #EFE1BA;
}
footer {
  display: flex;
  justify-content: center;
	width: 100%;
	text-align: center;
	padding-right: 20px;
  box-shadow: 0 0px 1px 1px rgb(61 66 81 / 20%);
  min-height: 40px;
  background-color: #EFE1BA;
}

.container {
  padding: 20px;
  min-height: 100vh;
}
.author-info-span {
  padding: 5px;
  margin-bottom: 2px;
}

/* Logo */
.logo {
  width: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
  font-size: larger;
}
a.logo, a.logo:hover, a.logo:active, a.logo:visited, a.logo:focus {
  color: black;
}

.auth-text {
  display: flex;
  width: auto;
  align-items: center;
  margin-right: 20px;
}

.auth-link {
  padding: 5px;
}

.default-block {
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
  background-color: #fff;
  padding: 20px;
}

.page-label {
  text-align: center;
}