{% extends 'layout/base.html' %}
{% load i18n %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'catalogue/css/catalogue.css' %}">
{% endblock styles %}

{% block title %}{% translate "Catalogue" %}{% endblock title %}

{% block content %}

<h3 class="page-label">{% translate "Catalogue" %}</h3>
<hr />

<div id="catalogue-container-block">

  <div id="filters-block" class="default-block">
    <div id="search-block">
      <div class="input-group mb-3">
        <input
          id="search-input"
          type="text"
          class="form-control"
          placeholder="Search..."
          aria-label="Search..."
          aria-describedby="basic-addon2"
        >
        <div class="input-group-append">
          <button
            id="search-btn"
            class="btn btn-primary"
            type="button"
          >
            <i class="d-flex justify-content-center align-items-center bi bi-search"></i>
          </button>
        </div>
      </div>
    </div>


    <div id="default-filters-block">
      <h5>Price</h5>
      <div id="price-filter-block">
        <div class="input-group mb-3 price-from-input-block">
          <input
            id="price-from-input"
            type="number"
            class="form-control"
            placeholder="Price from"
            aria-label="Price from"
            aria-describedby="basic-addon2"
          >
        </div>
        <div class="input-group mb-3 price-to-input-block">
          <input
            id="price-to-input"
            type="number"
            class="form-control"
            placeholder="Price to"
            aria-label="Price to"
            aria-describedby="basic-addon2"
          >
        </div>
      </div>
    </div>

    <div id="additional-filters-block">
      <p>Additional filters</p>
    </div>

    <div id="apply-filters-block">
      <button id="apply-filters-btn" class="btn btn-primary">Apply</button>
    </div>

  </div>


  <div id="catalogue-block">
    <div id="products-block"></div>
    <div id="pagination-block" class="default-block">
      <button id="first-btn" class="btn btn-primary pagination-btn">First</button>
      <button id="previous-btn" class="btn btn-primary pagination-btn">Previous</button>
      <span id="pagination-text">Page</span>
      <button id="next-btn" class="btn btn-primary pagination-btn">Next</button>
      <button id="last-btn" class="btn btn-primary pagination-btn">Last</button>
    </div>
  </div>

</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'catalogue/js/catalogue.js' %}"></script>
{% endblock scripts %}