{% extends 'layout/base.html' %}
{% load i18n static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'catalogue/css/categories.css' %}">
{% endblock styles %}

{% block title %}{% translate "Categories" %}{% endblock title %}

{% block content %}

<h3 id="categories-label" class="page-label">{% translate "Categories" %}</h3>
<hr />

<div id="subcategories-block" class="flex-block"></div>
<div id="related-products-block" class="flex-block"></div>

{% endblock content %}


{% block scripts %}
<script src="{% static 'catalogue/js/categories.js' %}"></script>
{% endblock scripts %}