{% extends 'layout/base.html' %}
{% load i18n static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'catalogue/css/styles.css' %}">
{% endblock styles %}

{% block title %}{% translate "Home page" %}{% endblock title %}

{% block content %}

<h3 class="page-label">{% translate "Home page" %}</h3>
<hr />

<h4 class="products-label">{% translate "Best products" %}</h4>
<hr />
<div id="best-products-block" class="default-block">
    <!-- loading spinner -->
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

<h4 class="products-label">{% translate "Hot products" %}</h4>
<hr />
<div id="hot-products-block" class="default-block">
    <!-- loading spinner -->
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

<h4 class="products-label">{% translate "Newest products" %}</h4>
<hr />
<div id="newest-products-block" class="default-block">
    <!-- loading spinner -->
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'catalogue/js/home.js' %}"></script>
{% endblock scripts %}