{% extends 'layout/base.html' %}
{% load i18n static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'catalogue/css/product-detail.css' %}">
{% endblock styles %}

{% block title %}{% translate "Product detail" %}{% endblock title %}

{% block content %}
<div id="productId" data-id="{{ product_id }}"></div>

<div id="top-info-block"></div>

<div id="product-main-info-block" class="default-block">
  <!-- loading spinner -->
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
<div id="bottom-info-block"></div>

<div id="description-info-block" class="default-block">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

<div id="product-add-info-block" class="default-block">
  <!-- loading spinner -->
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

<div id="reviews-info-block" class="default-block">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'catalogue/js/productDetail.js' %}"></script>
{% endblock scripts %}