{% extends 'layout/base.html' %}
{% load i18n static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'utils/css/pagination.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'orders/css/order.css' %}">
{% endblock styles %}

{% block title %}{% translate "Order" %}{% endblock title %}

{% block content %}

<h3 id="order-main-label" class="page-label">{% translate "Order" %}</h3>
<hr />

<div id="order-main-block" class="default-block">
  <div id="order-total-block" class="flex-block"></div>
  <div id="address-block" class="flex-block">
    <select id="address-choices" class="form-select address-select" aria-label="Choose address">
      <option value="null">Choose address</option>
    </select>
  </div>
  <button id="create-order-btn" class="btn btn-primary" type="button">Order</button>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'orders/js/order.js' %}"></script>
{% endblock scripts %}
