{% extends 'layout/base.html' %}
{% load i18n static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'utils/css/pagination.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'carts/css/cart.css' %}">
{% endblock styles %}

{% block title %}{% translate "Your cart" %}{% endblock title %}

{% block content %}

<h3 class="page-label">{% translate "Your cart" %}</h3>
<hr />

<div id="cart-block">
  <div id="cart-items-block"></div>
  {% include 'utils/pagination.html' %}
  <button id="order-create-btn" type="button" class="btn btn-primary">Create order</button>
</div>


{% endblock content %}

{% block scripts %}
<script src="{% static 'utils/js/pagination.js' %}"></script>
<script src="{% static 'carts/js/cart.js' %}"></script>
{% endblock scripts %}