{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- Optional CSS -->
    {% block styles %}
    {% endblock styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'reclothes/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'reclothes/css/utils.css' %}">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'reclothes/images/favicon.ico' %}"/>
		<!-- Title -->
    <title>Reclothes | {% block title %}{% endblock title %}</title>
  </head>

  <body>
    <header>
			<a class="logo" href="{% url 'catalogue:home' %}">Reclothes</a>

      <div class="links-block">
        <a href="{% url 'catalogue:catalogue' %}" class="header-link">Catalogue</a>
        <a href="{% url 'catalogue:categories' %}" class="header-link">Categories</a>
        <a href="#" class="header-link">News</a>
        <a href="#" class="header-link">About</a>
      </div>

			<div class="auth-text">
        <div id="cart-header-block"></div>
        {% if user.is_authenticated %} 
					<span class="auth-link">Welcome, <a href="#">{{ user.email }}</a></span>
          <a href="{% url 'accounts:logout' %}" class="auth-link">Log out</a>
        {% else %}
          <a href="{% url 'accounts:login' %}" class="auth-link">Sign in</a> 
          <a href="{% url 'accounts:signup' %}" class="auth-link">Sign up</a>
        {% endif %}
			</div>
    </header>

    <div id="media-url" data-media="{{ MEDIA_URL }}"></div>
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>

    <footer>
			<span class="author-info-span">
				Made by 
				<a
					href="https://github.com/Lomank123" 
					target="_blank" 
					rel="noopener noreferrer">
					Robert "Lomank" Khakimov
				</a>
			</span>
    </footer>
  </body>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{% static 'reclothes/js/urls.js' %}"></script>
  <script src="{% static 'reclothes/js/base.js' %}"></script>
  <script src="{% static 'reclothes/js/headerCart.js' %}"></script>
  <!-- Optional JavaScript -->
  {% block scripts %}
  {% endblock scripts %}
</html>