#catalogue-container-block {
  display: flex;
}

#catalogue-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#filters-block {
  width: 70%;
  margin-right: 20px;
}

#empty-msg {
  text-align: center;
}

/* catalogue product card */

.catalogue-product-block {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.catalogue-product-info-block {
  display: flex;
  flex-direction: column;
}



/* Default filters */
#default-filters-block {
  display: flex;
  flex-direction: column;
}

#price-filter-block {
  display: flex;
}

.price-from-input-block {
  margin-right: 5px;
}

.price-to-input-block {
  margin-left: 5px;
}

#apply-filters-btn {
  width: 100%;
}

#discard-filters-btn {
  width: 100%;
  margin-top: 10px;
}


/* Tags */

#tags-block {
  flex-direction: row !important;
}
