/* main */

.main-info {
  width: 100%;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
}

#info-block {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

.images-block {
  display: flex;
  justify-content: center;
  position: relative;
}

#left-btn {
  position: absolute;
  top: 230px;
  left: 10px;
  width: 40px;
  height: 40px;
  justify-self: center;
  align-self: center;
  border-radius: 20px;
  margin-right: 5px;
  display: none;
}

#right-btn {
  position: absolute;
  top: 230px;
  right: 10px;
  width: 40px;
  height: 40px;
  justify-self: center;
  align-self: center;
  border-radius: 20px;
  margin-left: 5px;
  display: none;
}

.product-image {
  object-fit: cover;
  border-radius: 4px;
  height: 500px;
  width: 500px;
}

#detail-title {
  font-size: 24px;
  font-weight: 600;
}

#detail-price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(5, 78, 5, 0.671);
  font-weight: bold;
  align-self: center;
  height: 60px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 800;
  width: 100%;
  padding: 5px;
  padding-left: 15px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.089);
}

#add-to-cart-btn {

  height: 60px;
  border-radius: 10px;
}

#detail-price-block {
  display: flex;
  justify-content: space-around;
  border-radius: 11px;
  box-shadow: 0 8px 24px rgb(0 0 0 / 12%);
  margin-bottom: 24px;
  padding: 16px 12px;
}

#detail-avg-rating-block {
  margin-top: 150px;
}


/* categories and product type */

.categories-block {
  display: flex;
}
.single-category-block {
  margin-right: 4px;
}

#top-info-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: small;
}

a.category-link, a.category-link:hover, a.category-link:active, a.category-link:visited, a.category-link:focus {
  color: grey;
}

a.category-link:hover {
  color: #007BFF;
}


/* tags */

.tags-block {
  display: flex;
}

.single-tag-block {
  margin-left: 5px;
  margin-right: 5px;
}


/* Dates */

#bottom-info-block {
  margin-top: 2px;
  display: flex;
  justify-content: end;
}

.dates-block {
  display: flex;
}

.date-span {
  margin-left: 5px;
  margin-right: 5px;
  color: gray;
  font-size: small;
}


/* additional info */

#product-add-info-block {
  display: flex;
  flex-direction: column;
}

.attr-block {
  display: grid;
  grid-gap: 16px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.attr-span {
  margin-top: 10px;
  border-bottom: 1px dotted #ddd;
}

.block-label {
  margin-bottom: 10px;
  font-size: larger;
  font-weight: bold;
}


/* reviews */

#no-reviews-text {
  margin-top: 20px;
}

.review-block {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.grey-line {
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.164);
}

.rate-bar {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(128, 128, 128, 0.089);
  padding: 5px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: gray;
  margin-bottom: 20px;
}

.review-email {
  font-size: large;
  font-weight: bold;
  align-self: center;
}

.user-review-block {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.review-date {
  font-size: small;
  color: gray;
}

.review-block {
  margin-bottom: 15px;
}

.review-comment-label {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
}

.user-avatar {
  object-fit: cover;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  align-self: center;
  margin-right: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: gray;
}

.detail-review-user-block {
  display: flex;
  align-items: center;
}